html, body {
  background-color: #000;
  color: #fff;
  font-family: 'Work Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

.row {
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: 5px;
}

.container {
  margin: 0;
  padding: 0;
  min-width:100%;
}

.section {
  padding: 20px 50px 20px 50px;
  margin: 20px 40px 20px 40px;
}

.section h1 {
  text-align: center;
  margin-bottom: 20px;
}

.navbar-collapse {
  background-color: transparent;
}

.nav-item {
  background-color: transparent;
  margin-left: 5px;
  margin-right: 5px;
}

.nav-link {
  color: #fff;
  text-decoration: none;
}

.navbar-brand {
  color: #fff;
  text-decoration: none;
}

.navbar-toggler-icon {
  background-image: url('../images/menu-icon.svg');
}

.nav-link:hover {
  color: #9B7F9B;
}

.navbar-brand:hover {
  color: #9B7F9B;
}

#donate {
  color: #fff;
  background-color: #rgba(0, 0, 0, 1);
  border-color: #4e00b3;
  border-width: 2px;
  border-radius: .75rem;
  -webkit-transition: .5s all;
  -webkit-transition-delay: .15s;
  -moz-transition: .5s all;
  -moz-transition-delay: .15s;
  -ms-transition: .5s all;
  -ms-transition-delay: .15s;
  -o-transition: .5s all;
  -o-transition-delay: .15s;
  transition: .5s all;
  transition-delay: .15s;
}

#donate:hover {
  color: #fff;
  background-color: #4e00b3;
  border-color: #4e00b3;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -ms-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}

#contact div div i {
  font-size: 48px;
}

@media only screen and (max-width: 850px) {
    /* For mobile phones: */
    .container .div {
      padding:0;
    }

    .col-lg-6 {
      padding:0;
    }

    .header {
      height: auto;
    }

}

@media only screen and (max-width: 1080px) {

    .navbar {
      border-radius: 0;
    }

    .header {
      height: auto;
      margin-bottom: 15px;
      max-width:100%;
    }

  .header-element h1 {
    font-size: 64px;
    font-weight: semi-bold;
    margin-top: 0px;
    margin-bottom: 25px;
    padding-bottom: 15px;
  }
    .navbar {
      margin-bottom: 0px;
    }
    .embed-responsive embed-responsive-16by9 {
      style="max-width:560px; max-height:50%;"
    }

    .navbar-nav > li > a {
    /* (80px - line-height of 27px) / 2 = 26.5px */
    padding-top: 26.5px;
    padding-bottom: 26.5px;
    line-height: 27px;
  }
}
