html, body {
  background-image: url('../images/constellation.svg'), linear-gradient(#460055, #140055);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 100%;
}

.header h1 {
  text-align: center;
  font-size: 4em;
}

.header p {
  text-align: center;
  font-size: 1.25em;
}

#team-cards {
  margin: 0 auto;
  width: fit-content;
  justify-content: center;
}

.card {
  width: 200px;
  margin: 15px;
}

.card-img-top {
  height: 150px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.container {
  margin-top: 20px;
  margin-bottom: 20px;
}

.accordion .card {
  background-color: transparent;
  min-width: 95%;
  margin: 0 auto;
  border-color: #AA8BB1;
}

.card-header {
  min-width: 90%;
  border-bottom: 0
}

.card-header .btn h5 {
  text-decoration: none;
  float: left;
  font-size: 26px;
}

.card-header img {
  width: 35px;
  height: 35px;
  float: left;
  margin-right: 5px;
}

.btn-link {
  color: #fff;
  padding-left: 0;
  width: 100%;
}

.card-header .btn h5:hover {
  color: #AA8BB1;
  text-decoration: none;
}

.card-header .btn:hover {
  color: #AA8BB1;
}

.team-members {
  list-style: none;
}

.card-body h6 {
  margin-top: 15px;
  margin-bottom: 5px;
}

@media only screen and (max-width: 800px) {
  .card-header .btn h5 {
    font-size: 18px;
  }
}
