html, body {
  height: 100%;
}

.header {
  background-color: gray;
  background-image: url("./header-background.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  min-height: 100%;
  margin-right: 0px;
  padding-top: 30px;
  padding-bottom: 60px;
  margin-bottom: 0px;
}

.header-element {
  margin: 0 auto;
  margin-bottom: 15px;
  margin-top: 15px;
  text-align: center;
  display: block;
  background-color: rgba(0, 0, 0, 0);
}

.header-element h1 {
  font-size: 108px;
  font-weight: 300;
  padding: 10px 0 35px 0;
  color: white;
  margin-top: 5%;
  background-color: rgba(0, 0, 0, 0);
}

.navbar {
  background-color: rgba(10, 10, 10, 0.2);
  z-index: 2;
  min-width: 100%;
  position: fixed;
}

#donate {
  color: #fff;
  background-color: #rgba(0, 0, 0, 1);
  border-color: #4e00b3;
  border-width: 2px;
  border-radius: .75rem;
  -webkit-transition: .5s all;
  -webkit-transition-delay: .15s;
  -moz-transition: .5s all;
  -moz-transition-delay: .15s;
  -ms-transition: .5s all;
  -ms-transition-delay: .15s;
  -o-transition: .5s all;
  -o-transition-delay: .15s;
  transition: .5s all;
  transition-delay: .15s;
}

#donate:hover {
  color: #fff;
  background-color: #4e00b3;
  border-color: #4e00b3;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -ms-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}

#arrow-container {
  text-align: center;
  padding-bottom: 20px;
  position: absolute;
  bottom: 10%;
  left: 50%;
  right: 50%;
}

#arrow {
  border: solid #fff;
  border-width: 0 7px 7px 0;
  display: inline-block;
  padding: 7px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  margin-bottom: 5px;
  background-color: rgba(0, 0, 0, 0);
}

#mission {
  padding-top: 20px;
  margin-top: 0px;
}

.embed-responsive {
  margin-bottom: 15px;
}

#signature {
  float: right;
  margin-top: 20px;
}

#rocket {
  margin: 0 auto;
}

.placeholder {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: transparent;
}

#teams {
  margin-bottom: 20px;
  padding-bottom: 10px;
}

#teams p {
  margin-bottom: 3rem;
}

.subteam {
  margin-top: 10px;
  margin-bottom: 10px;
  background: transparent;
}

.col-md-6 {
  margin: 0 auto;
  text-align: center;
}

.col-md-12 {
  margin: 0 auto;
  text-align: center;
}

.row h4 {
  text-align: center;
  font-size: 1.5em;
  background: transparent;
}

.all-teams {
  margin-top: 25px;
  background-image: url(./teams-background.jpeg); /*  url(./constellation.svg), linear-gradient( #0c0c35, #0000ee, #0c0c35) */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  height: 70%;
  padding-top: 30px;
  padding-bottom: 30px;
}

#contact {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  text-align: center;
  margin-bottom: 0px;
}

.all-teams object, .all-teams object img {
  max-height: 800px;
  margin: 0 auto;
}

@media only screen and (min-width: 1081px) {

  div.embed-responsive {
    width: 50%!important;
    height: 50%!important;
    margin: 0 auto;
    margin-bottom: 25px;
  }

  #vid {
    padding-right: 50px;
  }

  p {
    line-height: 1.75em;
    width: 50%;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 850px) {

  .header-element h1 {
    font-size: 64px;
  }

    #vid {
      width: 100%;
    }

     .embed-responsive embed-responsive-16by9 {
      style="max-width:560px; max-height:75%;"
    }

    #rocket {
      height:0;
      width:0;
    }

    .placeholder {
      width: 100px;
      height: 100px;
      background-color: none;
    }

    #teams p {
      margin-bottom: 1.5rem;
    }

}
