.header {
  background-image: url('./teams-header-background.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 100%;
  min-height: 70%;
  margin-right: 0px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.header h1 {
  text-align: center;
  font-size: 4em;
}

.header h4 {
  text-align: center;
}

#team-cards {
  margin: 0 auto;
  width: fit-content;
  justify-content: center;
}

.card {
  width: 200px;
  margin: 15px;
}

.card-img-top {
  height: 150px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.container {
  margin-top: 0px;
}